* {
    margin: 0;
    padding: 0;
}

body {
    background-color: aquamarine;
}

h1 {
    font-family: Oswald, sans-serif;
    text-transform: uppercase;
    letter-spacing: 4px;
    color: #252525;
    margin-left: 44%;
    margin-top: 2%;
}

h2 {
    font-family: Oswald, sans-serif;
    text-transform: uppercase;
    letter-spacing: 2px;
    color: #252525;
    margin-left: 2%;
    margin-bottom: 2%;
}

#instructions {
    padding-left: 2%;
    padding-top: 30px;
    width: 33%;
    float: left; 
}

#timer-holder {
    padding-top: 30px;
    width: 33%;
    float: right;  

}

#gameHolder {
    width: 33%;
    margin: 0 auto;
    font-size: large;
}

#button-holder {
    display: block;
    margin-left: 48%;
    margin-top: 1%;
}

.button {
    background-color: green; 
    border: none;
    color: white;
    padding: 15px 32px;
    text-align: center;
    display: inline-block;
    font-size: 16px;
  }