* {
    margin: 0;
    padding: 0;
}

body {
    background-color: aquamarine;
}

h1 {
    font-family: Oswald, sans-serif;
    text-transform: uppercase;
    letter-spacing: 4px;
    color: #252525;
    margin-left: 42%;
    margin-top: 2%;
}

h2 {
    font-family: Oswald, sans-serif;
    text-transform: uppercase;
    letter-spacing: 2px;
    color: #252525;
    margin-left: 2%;
    margin-bottom: 2%;
}

#instructions {
    text-transform: uppercase;
    letter-spacing: 1px;
    color: #252525;
    margin-left: 2%;
}